<ul class="nav">
  <li class="nav-item">
      <%= link_to t(:sign_in), :login, class: 'nav-link active' %>
  </li>

  <li class="nav-item">
    <%= link_to t(:sign_up), new_user_path, class: 'nav-link active' %>
  </li>
</ul>
