<% unless notice_text.to_s.empty? %>
  <% class_name = class_name ? class_name : 'alert-primary' %>
  <div class="<%='alert notice ' + class_name%>" role="alert">
    <%=notice_text%>
  </div>
<% end %>
