<section>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div>
    <p class="font-size--larger">
      <%=t('desc')%>
    </p>
  </div>

  <div id="homepage-content">
    <%= render 'user-card' %>
  </div>
</section>
