<% @page_title = t(:title) %>
<header class="clearfix">
  <h1><%=@page_title%></h1>
  <ul class="navigation-links nav">
    <li class="nav-item">
      <%= link_to t(:all_cards), cards_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t(:add_card), new_card_path, class: 'nav-link active' %>
    </li>
  </ul>
</header>

<section>
  <p class="desc">
    <%=t('desc')%>
  </p>
</section>
