#container {
  margin: 48px auto;
  width: 960px;
}

#container > section {
  clear: both;
}

#container > header {
  margin-bottom: 46px;
}

#container > header > h1 {
  float: left;
  margin: 0;
}

.navigation-links {
  float: right;
}

.navigation-links li {
  display: inline-block;
  margin: 0 16px;
}

.desc {
  font-size: 22px;
}

/* MISC */

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}

.card-action-btn:hover {
  border: 1px solid gray;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.notice {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  animation: .8s ease-in 2s fade-out forwards;
}
